{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "singleAttributePerLine": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"]
}
